.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.2rem solid #1c6ec0;
  background-color: white;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.8rem 1.4rem 0 #1c6ec0;
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #1c6ec0;
  color: white;
}

.choice-text {
  padding: 1.5rem;
}

.choice-container.correct {
  background-color: #4caf50; /* Green */
  color: white;
  border-color: #388e3c;
}

.choice-container.wrong {
  background-color: #f44336; /* Red */
  color: white;
  border-color: #b71c1c;
}
